name: auto squash
on: 
  issue_comment:
    types: [created]
jobs:
  squash:
    if: github.event.issue.pull_request != '' && github.event.comment.body == '/squash'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@v3.1.0
      id: get_pull_req_branch
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const response = await github.pulls.get({
            pull_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo
          });
          console.log(response);
          core.setOutput('HEAD_REF', response.data.head.ref);
    - id: generate_token
      if: ${{ !github.event.repository.fork }}
      uses: tibdex/github-app-token@v1
      with:
        app_id: 89536
        private_key: ${{ secrets.BOT_KEY }}
    - uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      with:
        fetch-depth: 0
        ref: "${{ steps.get_pull_req_branch.outputs.HEAD_REF }}"
        token: "${{ steps.generate_token.outputs.token }}"
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Dump job context
      env:
        JOB_CONTEXT: ${{ toJson(job) }}
      run: echo "$JOB_CONTEXT"
    - run: ./.github/squash.sh
      env:
        APP_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
